.votediv {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
}

/* .data {
    format of information stored in voting div
} */
a {
    margin-right: 5px;
    cursor: pointer;
}